<div *ngIf="displayForm"> 
    <p> registration works! </p>
    <div>
        <label>E-mail :</label>
        <input #email >
    </div>
    <div>
        <label>Password :</label>
        <input #passWd (keyup)=onKey1(passWd.value)>
    </div>
    <div>
        <label>re-enter the Password :</label>
        <input #box (keyup)="onKey2(box.value)">
    </div>
  <button (click)="register(email.value, passWd.value)">Submit</button>
  <p>{{match_pw_message}}</p>
</div>
<div *ngIf="isUserAdded">
    <p>
        user added successfully  <a href="/">Sign in</a> 
    </p>
</div>